[submodule "software/xpcc"]
	path = box/software/xpcc
	url = https://github.com/roboterclubaachen/xpcc.git
[submodule "tinyos"]
	path = tinyos
	url = https://github.com/salkinium/tinyos-main.git
[submodule "experiment_control/rs"]
	path = experiment_control/rs
	url = https://github.com/brownan/Reed-Solomon.git
